<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184882265348-1lnmrfc2crjfmvaq74fmu6sblpm4ap08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184882265348-1lnmrfc2crjfmvaq74fmu6sblpm4ap08</string>
	<key>API_KEY</key>
	<string>AIzaSyBy0anFMxgIzGhyA6X2kyQecQ2EzXEc8lo</string>
	<key>GCM_SENDER_ID</key>
	<string>184882265348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodbankApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-project-8c16f</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-project-8c16f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184882265348:ios:784499cef51ff9c5db2451</string>
</dict>
</plist>